<div ng-controller="balanceCtrl">
    <div class="row">
        <div class="col-md-6">
            <h3>Input</h3>
            <form novalidate="" name="colorsForm">
                <div class="form-group">
                    <label for="red" style="color: red;">Red</label>
                    <input class="form-control" type="number" name="red" ng-model="colors.red" ng-change="calculateColors()" />
                </div>
                <div class="form-group">
                    <label for="green" style="color: green;">Green</label>
                    <input class="form-control" type="number" name="green" ng-model="colors.green" ng-change="calculateColors()" />
                </div>
                <div class="form-group">
                    <label for="blue" style="color: blue;">Blue</label>
                    <input class="form-control" type="number" name="blue" ng-model="colors.blue" ng-change="calculateColors()" />
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h3>New colors</h3>
            <span style="color: red;">Red: {{newColors.red}}</span><br/>
            <span style="color: green;">Green: {{newColors.green}}</span><br/>
            <span style="color: blue">Blue: {{newColors.blue}}</span>
        </div>
    </div>
</div>